<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" ></link>
    <script src="{{ url_for('static', filename='script.js') }}"  defer></script>
    <title> {% block title %}
        
    {% endblock %} </title>
</head>
<body>
  {% block content %}
    
  {% endblock %}
  <section class="left-section">
    {% block left_section %}
      
    {% endblock %}
  </section>
  <div class="vr"> </div>
  <section class="right-section">
    {% block right_section %}
      
    {% endblock %}
  </section>
</body>
</html>