{% extends 'base.html' %}

{% block left_section %}
    <section class="left-section">
        <div class="center">
            <p>This is upload_data2excelt.html</p>
            <form method="post" onsubmit="event.preventDefault();  getInputs(this);">
                <label for="nofdata"> Enter the No of Data You have!! </label>
                <input type="number" id="nofdata" name="nofdata" value="6" oninput="display_len(this.value)">
                <br>
                <label for="input_data"> Enter the input one by one </label>
                <textarea type="text" id="input_data" name="input_data" value="text" oninput="display_data(this.value)"></textarea>
                <br>
                <input type="submit" >
            </form>
        </div>
        <div class="center">
            <p>Form Inputs</p>
            <p id="form_inputs"></p>
        </div>
    </section>
{% endblock %}

{% block right_section %}
    <section class="right-section">
        <h2>Current Input</h2>
        <div class="live-input-box" >
            <p>No_of_data : <span id="display_len" ></span> </p>
            <p>Input Data :<textarea id="display_data" > </textarea> </p>
        </div>
        <hr>
        <h2>Past Input</h2>
        <div class="live-input-box">
            <p>No_of_data : <span id="past-nofdata" ></span> </p>
            <p>Input Data :<textarea id="past-data"> </textarea> </p>
        </div>
    </section>
{% endblock %}